astral==3.2
asttokens==3.0.0
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
comm==0.2.3
contourpy==1.3.1
coverage==7.14.0
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
entsoe-py==0.8.0
executing==2.2.0
fastjsonschema==2.21.2
feature_engine==1.9.4
flake8==7.3.0
fonttools==4.55.3
holidays==0.96
idna==3.14
iniconfig==2.3.0
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
joblib==1.4.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
lightgbm==4.6.0
llvmlite==0.47.0
lxml==6.1.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mpmath==1.3.0
nbclient==0.10.4
nbformat==5.10.4
nest-asyncio==1.6.0
numba==0.65.1
# Editable install with no version control (numerische-mathematik-sose-26==0.0.0)
-e d:\numerische-mathematik-sose-26
numpy==2.2.0
packaging==24.2
pandas==3.0.2
parso==0.8.4
patsy==1.0.2
pillow==11.0.0
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
pyarrow==24.0.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.2.0
pyswarm==0.6
pytest==9.0.3
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-pptx==1.0.2
pytz==2024.2
pywin32==311
PyYAML==6.0.3
pyzmq==27.0.1
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.15.2
six==1.17.0
soupsieve==2.8.3
spotforecast2-safe==3.0.0
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
threadpoolctl==3.6.0
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.7.0
wcwidth==0.2.13
xlsxwriter==3.2.9
